{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7bc11c772a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/mainStyle.css'%}">
    <title>Illuminate Library</title>
</head>
<header>
    <a href="/" class="logo">Illuminate Library</a>
    <nav class="navigation">
        <a href="/books">Books</a>
        <a href="/movies">Movies</a>
        <a href="/audio">Audio</a>
        <a href="/admin">Login</a>
    </nav>
</header>
</html>

